body {
    background-color: rgb(21, 127, 197);
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#img {
    position: relative;
    left: 550px;
    bottom: -50px;
}
